/* Global Rules  */

:root {
  --primary-color: rgb(25, 202, 250);
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Global Rules */

/* Components */

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.main-heading h2::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  left: 50%;
  bottom: -30px;
  width: 120px;
  transform: translateX(-50%);
}

.main-heading h2::after {
  content: "";
  position: absolute;
  border: solid 2px #333;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  width: 14px;
  height: 14px;
  background-color: white;
}

.main-heading p {
  color: #777;
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
}

/* Components */

/* header */

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}

header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
  z-index: -1;
}

header .container .logo img {
  height: 2.4rem;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  padding: 40px 20px;
}

header .container nav ul li .active,
header .container nav ul li:hover a {
  color: var(--primary-color, #19c8fa);
  border-bottom: solid 1px var(--primary-color);
}

header .form {
  height: 30px;
  width: 40px;
  position: relative;
  margin-left: 20px;
  border-left: 1px solid white;
}

header .form i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

header nav .toggle-menu {
  color: white;
  font-size: 20px;
  display: none;
}

@media (max-width: 768px) {
  header nav .toggle-menu {
    display: block;
  }

  header .container nav ul {
    display: none;
  }

  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
  }

  header nav .toggle-menu:hover + ul a {
    padding: 20px;
  }
}

/* header */

/* Landing */

.landing {
  background-image: url(../images/landing.jpg);
  min-height: 100vh;
  background-size: cover;
  background-color: #1f2021;
  position: relative;
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: var(--transparent-color);
  color: white;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content {
  max-width: 500px;
}

.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}

.landing .fa-angle-left {
  left: 30px;
}

.landing .fa-angle-right {
  right: 30px;
}

@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

.landing .bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 10px;
}

.landing .bullets .active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
/* Landing */

/* Services */

.services {
  padding: var(--section-padding) 0;
}

.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  column-gap: 40px;
  row-gap: 60px;
}

.services .container .srv-box {
  display: flex;
}

.services .container .text {
  margin-left: 50px;
}

.services .container .text h3 {
  color: var(--primary-color);
  margin-bottom: 30px;
}

.services .container .text p {
  color: #777;
  line-height: 2;
}

@media (max-width: 768px) {
  .services .container .services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .services .container .srv-box {
    flex-direction: column;
    align-items: center;
  }

  .services .container .text {
    margin-left: 0;
  }

  .services .container .text h3,
  .services .container .text p {
    margin-top: 30px;
    text-align: center;
  }
}

/* Services */

/* design */

.design {
  position: relative;
  background-image: url(../images/design-features.jpg);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: var(--section-padding) 0;
  height: 600px;
  background-size: cover;
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.design .image,
.design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

@media (max-width: 768px) {
  .design .image {
    display: none;
  }
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
}

.design .text h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.design .text ul li {
  padding: 15px 0;

  font-size: 18px;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

/* design */

/* Portfolio */

.portfolio {
  padding: var(--section-padding) 0;
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}

.portfolio .shuffle li:first-child,
.portfolio .shuffle li:hover {
  background-color: var(--transparent-color);
  color: white;
}

.portfolio .shuffle li {
  padding: 15px;
  border-radius: 4px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .portfolio .shuffle li {
    padding: 10px;
  }
  .portfolio .shuffle {
    gap: 10px;
  }
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}

.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}

.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}

.portfolio .imgs-container .box:hover .caption {
  visibility: visible;
  transform: rotateY(0);
}

.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .imgs-container .box .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  visibility: hidden;
  transform: translateY(100px);
}

.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
  line-height: 1.6;
  color: var(--primary-color);
}

.portfolio .more {
  text-decoration: none;
  color: white;
  background-color: var(--primary-color);
  padding: 15px 35px;
  display: block;
  width: fit-content;
  margin: 50px auto;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  text-transform: uppercase;
}

.portfolio .more:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}
/* Portfolio */

/* video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  text-align: center;
}

.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.video .text p {
  margin-bottom: 30px;
}

.video .text button {
  color: white;
  background-color: black;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .video .text h2 {
    margin-bottom: 14px;
    font-size: 16px;
  }

  .video .text p {
    margin-bottom: 14px;
  }

  .video .text button {
    padding: 10px 15px;
    font-size: 14px;
  }
}
/* video */

/* About */

.about {
  padding: var(--section-padding) 0;
  overflow: hidden;
  text-align: center;
}

.about img {
  text-align: center;
  position: relative;
  bottom: -220px;
  margin-top: -220px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -150px;
    margin-top: -150px;
  }
}
/* About */

/* Stats */

.stats {
  padding: var(--section-padding) 0;
  background-image: url(../images/stats.png);
  position: relative;
  text-align: center;
  background-size: cover;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .box {
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
}

@media (max-width: 767px) {
  .stats .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .box {
    flex-basis: 25%;
  }
}

.stats i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.stats .box .number {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.stats .box p {
  font-size: 14px;
}

/* Stats */

/* Our Skills */

.our-skills {
  padding: var(--section-padding) 0;
}

.our-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}

.our-skills .container > div > h3 {
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}

.our-skills .container > div > p {
  color: #777;
  text-align: center;
  line-height: 2;
  margin-bottom: 60px;
}

.testimonials .content {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .testimonials .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .testimonials .content img {
    margin: 0 auto 20px;
  }
}

.testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.testimonials .text p {
  color: #777;
  text-align: end;
  font-size: 14px;
  margin-bottom: 10px;
}

.bullets {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px 0;
}

.bullets li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #aaa;
}

.bullets li:nth-child(2) {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.progress-container {
  margin-bottom: 40px;
}

.progress-container h4 {
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.progress-container .progress {
  background-color: #dedadc;
  height: 30px;
}

.progress-container .progress span {
  display: block;
  background-color: var(--primary-color);
  height: 100%;
  position: relative;
}

.progress-container .progress span::before {
  content: attr(data-progress);
  position: absolute;
  right: 0;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 5px;
  top: -40px;
  transform: translateX(50%);
}

.progress-container .progress span::after {
  content: "";
  position: absolute;
  border: 8px solid;
  border-color: black transparent transparent transparent;
  right: 0;
  transform: translateX(50%);
  top: -13px;
}

/* Our Skills */

/* Quote */

.quote {
  padding: var(--section-padding) 0;
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.quote::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.quote .container {
  position: relative;
}

.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

/* Quote */

/* Pricing */

.pricing {
  padding: var(--section-padding) 0;
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1);
}

.plan .head {
  padding: 40px 20px;
  border-bottom: solid 1px var(--primary-color);
  border-top: solid 1px var(--primary-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plan .head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.plan .head span {
  font-weight: bold;
  font-size: 60px;
  position: relative;
}

.plan .head span::before {
  content: "$";
  position: absolute;
  left: -25px;
  top: 0;
  font-size: 25px;
  font-weight: normal;
}

.plan .head span::after {
  content: "/Mo";
  position: absolute;
  right: -55px;
  bottom: 5px;
  font-size: 20px;
}

.plan ul {
  border-bottom: 1px solid var(--primary-color);
}

.plan ul li {
  padding: 20px;
  position: relative;
}

.plan ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color: var(--primary-color);
  background-color: var(--primary-color);
}

.plan .foot {
  border-bottom: 1px solid var(--primary-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.plan .foot a {
  text-decoration: none;
  border: solid 1px var(--primary-color);
  padding: 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
}
.contact-text {
  text-align: center;
  font-size: 18px;
  margin: 50px auto 20px;
}

.contact-link {
  text-decoration: none;
  text-align: center;
  background-color: var(--primary-color);
  color: white;
  padding: 15px 30px;
  margin: 20px auto;
  display: block;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

/* Pricing */

/* Subscribe */

.subscribe {
  padding: var(--section-padding) 0;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}

.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.subscribe .container {
  display: flex;
  position: relative;
  align-items: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}

.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.subscribe form input[type="email"] {
  border: 1px solid white;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--primary-color);
  width: calc(100% - 130px);
  border-right: none;
  color: white;
}

.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  text-transform: uppercase;
  border-left: none;
}

.subscribe form ::placeholder {
  color: white;
}

.subscribe form input[type="email"],
.subscribe form input[type="submit"] {
  outline: none;
}

.subscribe p {
  line-height: 2;
  margin-left: 50px;
  text-align: center;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}
/* Subscribe */

/* Contact */

.contact {
  padding: var(--section-padding) 0;
}

.contact .content {
  display: flex;
  justify-content: space-between;
}

.contact .content form {
  flex-basis: 70%;
}

.contact .content .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}

.contact .content .main-input:focus {
  outline: none;
}

.contact .content textarea.main-input {
  height: 200px;
}

.contact .content form input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  padding: 20px 25px;
  display: flex;
  justify-self: flex-end;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  transition: all 0.2s;
}

.contact .content form input[type="submit"]:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
}

.contact .content .info {
  flex-basis: 25%;
}

.contact .content .info h4 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 25px;
}

.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}

.contact .content .info h4:last-of-type {
  margin-top: 90px;
}

.contact .content .info address {
  color: #777;
  line-height: 2;
}

@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }

  .contact .content form {
    order: 1;
  }

  .contact .content .info {
    text-align: center;
  }

  .contact .content .info h4 {
    margin-bottom: 20px;
  }

  .contact .content .info h4:last-of-type {
    margin-top: 40px;
  }

  .contact .content .info address {
    margin-bottom: 40px;
  }

  .contact .content form input[type="submit"] {
    justify-self: center;
    padding: 20px 30px;
  }
}
/* Contact */

/* footer */

footer {
  background-image: url(../images/subscribe.jpg);
  padding: calc(var(--section-padding) / 2) 0;
  position: relative;
  text-align: center;
  background-size: cover;
  color: white;
}

footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

footer .container {
  position: relative;
}

footer .logo img {
  margin-bottom: 20px;
}

footer p:not(.copyright) {
  padding: 20px;
  margin: 20px auto;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  width: fit-content;
}

footer .social-icons i {
  margin: 10px 15px;
}

footer .copyright {
  margin-top: 60px;
}

footer .copyright span {
  font-weight: bold;
  color: var(--primary-color);
}

/* footer */
